<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{'EICExtraInfo' | translate}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-horizontal"
          name="extraInfoForm"
          ng-submit="$ctrl.ok()"
          novalidate>
        <div class="form-group">
            <label class="col-lg-2 control-label">{{'EICQuestion' | translate}}</label>

            <div class="col-lg-10">
                <input type="text"
                       name="vraag"
                       required
                       placeholder="{{'EICQuestion' | translate}}"
                       ng-model="$ctrl.extraInfo.infoVraag"
                       class="form-control">
                <p ng-show="extraInfoForm.vraag.$invalid && extraInfoForm.vraag.$touched"
                   class="help-block">{{'EICQuestionIsRequired' | translate}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">{{'EICAnswer' | translate}}</label>

            <div class="col-lg-10">
                <input type="text"
                       name="antwoord"
                       ng-required="$ctrl.update"
                       placeholder="{{'EICAnswer' | translate}}"
                       ng-model="$ctrl.extraInfo.infoAntwoord"
                       class="form-control">
                
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-sm btn-primary"
                            ng-disabled="extraInfoForm.$invalid"
                            type="submit">
                        {{'EICSave' | translate}}
                    </button>
                    <button class="btn btn-sm btn-default"
                            ng-click="$ctrl.cancel()">
                        {{'EICCancel' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>